<template>
  <v-container fluid>
    <v-col cols="12">
      <v-row align="center" justify="center" class="ma-3">
          <v-img :src="logo" width="120" height="120" contain></v-img>
      </v-row>

      <v-row align="center" justify="center">
        <div class="font-weight-light font-italic body-2 text-center">By this art you may contemplate the variation of the 12 notes</div>
      </v-row>

      <v-row align="center" justify="center" class="ma-5">
        •
      </v-row>

      <v-row align="center" justify="center" class="ma-5">
        <v-btn color="deep-purple darken-3" class="white--text" @click="playRandom" :disabled="playing">
          Play
        </v-btn>
      </v-row>


      <v-row align="center" justify="center" class="ma-5">
        •
      </v-row>

      <v-row v-if="music" align="center" justify="center" class="ma-5">
        <v-col lg="1">
          <div class="text-xs-right font-weight-light font-italic body-2">{{ music.tempo }}bpm - {{ music.scale }}</div>
        </v-col>

        <v-col md="auto">
          |
        </v-col>

        <v-col lg="1">
          <v-btn icon  @click="play" :disabled="playing || !music">
            <v-icon>mdi-replay</v-icon>
          </v-btn>

          <v-btn icon @click="downloadAsMidi" :disabled="!music">
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>

      <v-row align="center" justify="center">
          <canvas id="canvas" width="400" height="400" ></canvas>
      </v-row>


    </v-col>
    <v-footer absolute>
      <v-col cols="12">
        <v-row align="center" justify="center" class="ma-3">
          <v-btn class="mx-2" fab dark small color="deep-purple lighten-2" @click.stop="dialog = true">
            <v-icon dark>mdi-help</v-icon>
          </v-btn>

          <v-btn class="mx-2" fab dark small color="deep-purple lighten-2" href="https://bitbucket.org/djcapizzi/mabel/src/master/" target="_blank">
            <v-icon dark>mdi-code-tags</v-icon>
          </v-btn>

          <v-btn class="mx-2" fab dark small color="deep-purple lighten-2" href="https://libraryofbabel.info" target="_blank">
            <v-icon dark>mdi-hexagon-outline</v-icon>
          </v-btn>

          <v-dialog v-model="dialog" max-width="550">
            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>
                The Library of Mabel
              </v-card-title>

              <v-card-text class="mt-3">
                <p>
                  The Library of Mabel, is the musical answer to <a href="https://libraryofbabel.info" target="_blank">The Library of Babel</a>. It is a place for scholars to do research, for artists and writers to seek inspiration, for anyone with curiosity or a sense of humor to reflect on the weirdness of existence - in short, it’s just like any other library.
                </p>
                <p>
                  If completed, it would contain every possible combination of pitches and silence, with every possible combination of durations at every possible tempo. Thus, it would contain every melody that has ever been written, and every melody that ever could be.
                </p>
                <p>
                  At present, it can generate every possible combination 10 notes with 13 pitch (1 octaves) and silence, with durations from semibreves to semiquavers and tempos from 45-165 bpm. Around 36.4 quintillion melodies.
                </p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn v-btn color="deep-purple lighten-2" class="white--text"  @click="dialog=false">
                  Gotcha
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>

        <v-row align="center" justify="center">
          <p class="caption">
            Icon made by <a href="https://www.flaticon.com/authors/darius-dan" target="_blank">Darius Dan</a> from <a href="https://www.flaticon.com" target="_blank">www.flaticon.com</a>
          </p>
        </v-row>

        <v-row align="center" justify="center">
          <p>
            CovertClaus 2019
          </p>
        </v-row>
      </v-col>
    </v-footer>
  </v-container>
</template>

<script>
import { core } from "@/plugins/magenta";
import { generateMusic } from '@/helpers/generator'
import { saveAs } from 'file-saver';

export default {
  name: 'Mabel',
  methods: {
    playRandom() {
      this.music = generateMusic()

      const config = {
        noteHeight: window.innerWidth < 400 ? 4 : 8,
        pixelsPerTimeStep: this.music.tempo < 90 ? 30 : 60,
        noteSpacing: 2,
        noteRGB: '130, 130, 130',
        activeNoteRGB: '69, 39, 160',
      }

      const viz = new core.PianoRollCanvasVisualizer(this.music.tune, document.getElementById('canvas'), config);

      this.vizPlayer = new core.Player(false, {
        run: (note) => viz.redraw(note),
        stop: () => { this.playing = false; }
      });

      this.play()
    },
    play() {
      this.playing = true
      this.vizPlayer.start(this.music.tune);
    },
    downloadAsMidi() {
      saveAs(new File([core.sequenceProtoToMidi(this.music.tune)], 'generated_tune.mid'));
    }
  },
  data() {
        return {
            logo: require('../assets/logo.png'),
            music: null,
            vizPlayer: null,
            dialog: false,
            playing: false,
        }
    }
};
</script>
