<template>
  <v-app>
    <v-content>
      <Mabel/>
    </v-content>
  </v-app>
</template>

<script>
import Mabel from './components/Mabel';

export default {
  name: 'App',

  components: {
    Mabel,
  },

  data: () => ({
  }),
};
</script>
